<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.color">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorOptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ColorLearningActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StandardColorActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MixedColorActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PracticeColorActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShapeLearningActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StandardShapeActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ObjectLearningActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".MixShapeActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>